
---
import { Image } from "astro:assets";
const { src, alt } = Astro.props;
---

<div class="image-container">
  <Image src={src} alt={alt} inferSize={true}/>
  <p class="image-alt">{alt}</p>
</div>

<style>
.image-container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  margin: 20px;
}

.image-alt {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}
</style>

